<mat-toolbar>
  <button mat-icon-button (click)="drawer.toggleDrawer()">
    <mat-icon>menu</mat-icon>
  </button>
  <a [routerLink]="['/']">
    <img id="logo" src="assets/logo.png" alt="Music TP Logo">
  </a>

  <span class="example-spacer"></span>


  <langue-bouton></langue-bouton>

  <a href="https://www.facebook.com/wilfried.rouyer" target="_blank">
    <button mat-icon-button>
      <em class="bi bi-facebook"></em>
    </button>
  </a>

  <a href="https://www.instagram.com/https://www.instagram.com/wilfriedrouyer/" target="_blank">
    <button mat-icon-button>
      <em class="bi bi-instagram"></em>
    </button>
  </a>

  <a href="https://www.linkedin.com/in/wilfried-rouyer-6a7254158/" target="_blank">
    <button mat-icon-button>
      <em class="bi bi-linkedin"></em>
    </button>
  </a>

  <a href="https://github.com/wilfriedrouyer/rouyer_tp_note_dev_web" target="_blank">
    <button mat-icon-button>
      <em class="bi bi-github"></em>
    </button>
  </a>



</mat-toolbar>
