<mat-card class="mat-whiteframe-2dp">
  <mat-card-title> <span>➕ Créer une musique</span> </mat-card-title>

  <mat-card-content>
    <form novalidate [formGroup]="form">

      <p [class.errors]="form.get('title')!.invalid && (form.get('title')!.dirty || form.get('title')!.touched)">
        <mat-form-field class="name" >
          <mat-label>Titre</mat-label>
          <input formControlName="title" name="title" matInput placeholder="Ex: Highway to Hell" required/>
          <mat-error *ngIf="form.get('title')!.dirty && form.get('title')!.errors?.['required']"><br />Le titre est obligatoire</mat-error>
          <mat-error *ngIf="form.get('title')!.dirty && form.get('title')!.errors?.['minlength']"><br />Le nom doit avoir au moins 2 caractères </mat-error>
        </mat-form-field>
        <mat-form-field class="name" >
          <mat-label>Artiste</mat-label>
          <input formControlName="artist" matInput placeholder="Ex: AC/DC" name="artist" required/>
          <mat-error *ngIf="form.get('artist')!.dirty && form.get('artist')!.errors?.['required']"><br />Le nom de l'artiste est obligatoire</mat-error>
          <mat-error *ngIf="form.get('artist')!.dirty && form.get('artist')!.errors?.['minlength']"><br />Le nom doit avoir au moins 2 caractères </mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="name" >
          <mat-label>Description</mat-label>
          <input matInput placeholder="Description" style="width:100%" name="description" formControlName="description" />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="name" >
          <mat-label>Année de sortie</mat-label>
          <input matInput placeholder="Ex: 1998" style="width:100%" name="date" formControlName="date" required />
          <mat-error *ngIf="form.get('date')!.dirty && form.get('date')!.errors?.['required']"><br />L'année de sortie est obligatoire</mat-error>
          <mat-error *ngIf="form.get('date')!.dirty && form.get('date')!.errors?.['minlength']"><br />Le nom doit avoir au moins 2 caractères </mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="name" >
          <mat-label>Album</mat-label>
          <input matInput placeholder="Highway to Hell" style="width:100%" name="album" formControlName="album" required />
          <mat-error *ngIf="form.get('album')!.dirty && form.get('album')!.errors?.['required']"><br />L'album est obligatoire</mat-error>
        </mat-form-field>
      </p>

      <p [class.errors]="form.get('duration')!.invalid && (form.get('duration')!.dirty || form.get('duration')!.touched)">
        <mat-form-field class="name" >
          <mat-label><mat-icon>phone</mat-icon> Durée</mat-label>
          <input  matInput placeholder="Ex: 2:50 min" style="width:100%" name="duration" formControlName="duration" />
          <mat-error *ngIf="form.get('duration')!.dirty && form.get('duration')!.errors?.['required']"><br />La durée est obligatoire</mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="chip-list" >
          <mat-label><mat-icon>work</mat-icon> Genres :</mat-label>
          <mat-chip-list #chipList aria-label="Intitulés des fonctions de l'employés">
            <mat-chip *ngFor="let style of musicModel.styles" (removed)="removeChipset(style)" >
              {{style}}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input placeholder="Ex: Rock..."
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   (matChipInputTokenEnd)="addChipset($event)">
          </mat-chip-list>
        </mat-form-field>
      </p>

      <input #fileInput type="file" (change)="onFileSelected($event)"  name="photo" style="display: none;" accept=".png,.jpg" />
      <div *ngIf="musicModel.picture" >
        <img width="100" src="{{musicModel.picture}}" alt="Photo de l'employé" /> <br>
        <button mat-flat-button color="warn" (click)="musicModel.picture = null;">
          <mat-icon>
            cancel
          </mat-icon>
        </button>
      </div>
      <div class="file-upload" *ngIf="!musicModel.picture">
        <button type="button" (click)="fileInput.click()" mat-fab>
          <mat-icon>
            image
          </mat-icon>
        </button>
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-button type="button" (click)="cancel()">Annuler</button>
    <button mat-button type="submit" color="primary" (click)="submit(form.value)" [disabled]="!form.valid">Valider</button>
  </mat-card-actions>
</mat-card>
