<mat-card class="carteCustom">
  <mat-card-header>
    <img *ngIf="music.picture" mat-card-avatar src="{{music?.picture}}" alt="Avatar de l'employé"/>
    <mat-card-title>{{music?.title}} - {{music?.artist}} ({{music?.date}})</mat-card-title>
    <mat-card-subtitle>
      <mat-card-content>
        <mat-chip-list>
          <mat-chip color="primary" *ngFor="let style of music?.styles">
            <mat-icon class="small">
              work_outline
            </mat-icon>
            {{style}}
          </mat-chip>
        </mat-chip-list>
      </mat-card-content>
      <mat-card-content>
        {{music.album}} - {{music?.duration}}
      </mat-card-content>
      <mat-card-content>
        {{music?.description}}
      </mat-card-content>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-actions align="end">
    <button mat-mini-fab aria-label="Editer" color="accent" [routerLink]="['/edit', music.id]">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-mini-fab aria-label="Supprimer" color="warn" (click)="delete()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
